################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HarborControl/.vs/HarborControl
/HarborControl/HarborControl/bin/Debug/netcoreapp3.1
/HarborControl/HarborControl/obj
/HarborControl/HarborControl.Core/obj
/HarborControl/HarborControl.Interfaces/obj
/HarborControl/.vs/HarborControl.Tests
/HarborControl/HarborControl.Core/bin/Debug/net5.0
/HarborControl/HarborControl.Interfaces/bin/Debug/net5.0
/HarborControl/HarborControl.Tests/obj
/HarborControl/HarborControl.Tests/bin/Debug/net5.0
/HarborControl/HarborControl.Weather/obj
